<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h2>Welcome</h2>

    <button id="link-account-btn">Link an Account</button>

    <p id="plaid-public-token"></p>

    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

    <!-- Utility Functions Declaration -->
    <script>
        const element = id => document.getElementById(id);
    </script>

    <!-- Plaid Link Client Initialization -->
    <script>
        var plaidLinkClient = Plaid.create({
            apiVersion: 'v2',
            clientName: 'Personal Finance - Plaid Link Handler',
            env: '<%= PLAID_ENV %>',
            product: '<%= PLAID_PRODUCTS %>'.split(','),
            key: '<%= PLAID_PUBLIC_KEY %>',
            countryCodes: '<%= PLAID_COUNTRY_CODES %>'.split(','),
            onSuccess: function(publicToken) {
                // TODO: Initiate accessToken exchange workflow
                element("plaid-public-token").innerText = publicToken;
            }
        });
    </script>

    <!-- Event Handlers Registration -->
    <script>
        element("link-account-btn").addEventListener("click", function() {
            plaidLinkClient.open();
        });
    </script>
</body>
</html>