<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href='../public/css/landing.css'>
</head>
<body>
    <header id="main-header">
        <div class="container-title">
            <h1>Expense Tracker</h1>
         </div>
    </header>

    <nav id="navbar">
            <div class="container-navbar">
                <ul>
                     <li><a href="#">Home</a></li>
                     <li><a href="#">About</a></li>
                     <li><a href="#">Services</a></li>
                     <li><a href="#">Contact</a></li>
                </ul>
            </div>
    </nav>   
        
    <!--<section id="showcase">
        <div class="container">
        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Et totam dicta quibusdam!
        </h1>
        </div>
    </section>-->

    <div class="container">
    <section id="main">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Natus necessitatibus iusto, officiis ipsa perferendis tempora ad ducimus cumque vel 
             voluptas blanditiis magnam excepturi recusandae dolorum aliquid 
             commodi dignissimos, ipsam consequuntur.</p>
    </section>

    <aside id="sidebar">
            <form method="POST" id="register">
                <br>
                    <div>
                        <label>First Name</label>
                        <input type="text" name="firstName">
                    </div>
                    <br>
                    <div>
                        <label>Last Name</label>
                        <input type="text" name="lastName">
                    </div>
                    <br>
                    <div>
                        <label>Email</label>
                        <input type="email" name="email">
                    </div>
                    <br>
                    <div>
                        <label>Password</label>
                        <input type="password" name="password">
                    </div>
            </form>

            <button id="button-submit" type="submit" form="register" value="Submit">Create Account</button>
        
            <p id="already-account">Already have an account?</p> 

            <br><br><br><br>

            <button id="button-sign-in">Sign In</button>

    </aside>
    </div>

    <footer id="main-footer">
        <p>Copyright &copy; 2020 Expense Tracker</p>
    </footer>

</body>

</html>