<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <title>Expense Tracker</title>
</head>

<body>
    <!--Header-->
    <header id="main-header">
        <div class="container-title">
            <h1>Expense Tracker</h1>
        </div>
    </header>

    <!--NavBar-->
    <nav id="navbar">
        <div class="container-navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!--Login Form-->
    <div class="wrap">

        <p class="welcome">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat consequatur, delectus ipsam repellendus laudantium iste numquam, quis blanditiis eum voluptatibus nam nisi iusto natus minus corrupti. Deserunt quas tempore ullam quibusdam eos
            ipsum error consectetur, quis fugiat unde eaque minus quasi odit corporis aliquid reprehenderit illo voluptatibus perferendis neque molestias?
            <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat consequatur, delectus ipsam repellendus laudantium iste numquam, quis blanditiis eum voluptatibus nam nisi iusto natus minus corrupti. Deserunt quas tempore ullam quibusdam
            eos ipsum error consectetur, quis fugiat unde eaque minus quasi odit corporis aliquid reprehenderit illo voluptatibus perferendis neque molestias?
        </p>



        <form class="login-form" action="">
            <div class="form-header">
                <h3>Expense Tracker</h3>
                <p>Login</p>
            </div>
            <!--Email Input-->
            <div class="form-group">
                <input type="text" class="form-input" placeholder="email@example.com">
            </div>
            <!--Password Input-->
            <div class="form-group">
                <input type="password" class="form-input" placeholder="password">
            </div>
            <!--Login Button-->
            <div class="form-group">
                <button class="form-button" type="submit">Login</button>
            </div>
            <br>
            <div class="form-footer">
                Don't have an account? <a href="#">Sign Up</a>
            </div>
        </form>

    </div>
    <!--/.wrap-->

    <!--Footer-->
    <footer id="main-footer">
        <p>Copyright &copy; 2020 Expense Tracker</p>
    </footer>

</body>

</html>